body,
html {
  background-image: url("/static/images/auth/img2.jpg");
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.main-container {
  color: whitesmoke;
}

.sendBox {
  width: 100%;
  border-radius: 10px;
  color: black;
  position: fixed;
  bottom: 0px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}

/* ==================================================== Recreating the email field from https://webflow.com/cms. Just an experiment - not as cross-browser friendly as the original. Changed: - animated gradient bar to :after element - flexbox for layout ==================================================== */
html {
  box-sizing: border-box;
  font-size: 10px;
}

li {
  list-style: none;
}

input {
  border-style: none;
  background: transparent;
  outline: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.demo-flex-spacer {
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
}

.webflow-style-input {
  position: relative;
  margin: auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
  background: rgba(57, 63, 84, 0.8);
  align-self: end;
  display: flex;
}

.webflow-style-input:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(to right,
      #b294ff,
      #57e6e6,
      #feffb8,
      #57e6e6,
      #b294ff,
      #57e6e6);
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}

.webflow-style-input input {
  flex-grow: 1;
  color: #bfd2ff;
  font-size: 1.5rem;
  line-height: 2.4rem;
  vertical-align: middle;
}

.webflow-style-input input::-webkit-input-placeholder {
  color: #7881a1;
}

.webflow-style-input button {
  color: #7881a1;
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color 0.25s;
  z-index: 999;
}

.webflow-style-input button:hover {
  color: #bfd2ff;
}

:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #e79d48;
  --right-msg-bg: #579ffb;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 867px;
  margin: 25px 10px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  height: 75vh;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.msg:last-of-type {
  margin: 0;
}

.typing {
  color: whitesmoke;
}

.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  min-width: 50px;
}

.msg-bubble {
  max-width: 300px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
  font-size: 1.5em;
}

.msg-text {
  max-width: 300px;
  font-size: 2em;
  word-wrap: break-word;
}

.msg-info-time {
  font-size: 1.2em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}

.right-msg .msg-img {
  margin: 0 0 0 10px;
}

input[type="file"] {
  position: relative;
  color: transparent;
}

input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
  content: "📎";
}

input[type="file"]::before {
  pointer-events: none;
  content: "📎";
  padding: 0;
  border: none;
  background: none;
  text-decoration: None;
  color: #7881a1;
  vertical-align: middle;
  width: -10px;
}

/* ------- From Step 1 ------- */

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
  padding: 0;
  border: none;
  background: none;
  text-decoration: None;
}

.demofileupload {
  width: 20px;
  margin-right: 10px;
  align-self: center
}

.float {
  /* position: fixed; */
  /* width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px; */
  /* right: 40px; */

  background-color: rgba(231, 128, 9, 0.534);
  color: #fff;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  /* z-index: 1; */
  cursor: pointer;
}

.text-right {
  text-align: end;
}

#messageBox {
  width: 100%;
  background: transparent;
  border: none;
  resize: none;
  color: whitesmoke;
  align-self: center;
  font-size: 2.5vh;
}

textarea:focus {

  border-radius: 5px;
  outline: none !important;
  border: 1px solid red;
}

/* ::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
} */

.style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar-thumb {
  background-color: #000000;
}

pre {
  font-family: auto;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-decoration: none;
  margin: auto;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 10vh;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 10vh;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 10vh;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 10vh;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 10vh;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

.msg-file {
  display: flex;
  word-break: break-all;
  font-size: 2em;
}

.file_link {
  align-self: flex-end;
}




.settings-tray--left {
  align-self: center;
  margin: 0.5rem;
}

.settings-tray--left i {
  color: whitesmoke;
}

.settings-tray {
  background: transparent;
  padding: 10px 15px;
  border-radius: 7px;
}

.settings-tray .no-gutters {
  padding: 0;
}

.settings-tray--right {
  float: right;
}

.settings-tray--right {
  align-self: center;
  right: 10px;
}

.settings-tray--right i:hover {
  color: #74b9ff;
  cursor: pointer;
}

.settings-tray--right i {
  padding: 5px;
}

.friend-drawer {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: 0.3s ease;
}

.friend-drawer--grey {
  background: transparent;
}

.friend-drawer .text {
  margin-left: 12px;
  width: 90%;
  align-self: center;
}

.friend-drawer .text h6 {
  margin-top: 6px;
  margin-bottom: 0;
}

.friend-drawer .text p {
  margin: 0;
}

.friend-drawer .time {
  color: grey;
}

.friend-drawer--onhover:hover {
  background: #74b9ff;
  cursor: pointer;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.room-title {
  margin: 0.5rem auto;
}

.right-slider {
  color: black;
  /* opacity: 0.9; */
}

.offcanvas-image-container {
  position: relative;
}

.right-slider .bottomleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
  color: black;
  opacity: 0.8;
  background: white;
}
.right-slider .topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.right-slider img {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.right-slider .h5 {
  font-size: 2rem;
}

.Group-info {
  font-size: 1.5rem;
  display: flex;
}

.Group-info .about {
  align-self: center;
  margin: 0 1rem 0 0;
}

.Group-people {
  overflow-y: auto;
  height: 43vh;
}

.Group-people .profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.Group-people .people-status {
  display: flex;
  position: relative;
}

.Group-people div.text {
  align-self: center;
  margin: 0rem 1rem;
}

.Group-options {
  padding: 1rem;
}

.Group-options .leave-group {
  font-size: 2rem;
  color: #ff4d4d;
}

.Group-options .edit-group {
  font-size: 2rem;
  color: #4dafff;
}

.Group-options .border-red {
  border: 1px solid #ff4d4d;
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
}

.Group-options .border-blue {
  border: 1px solid #4dafff;
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
}

.Group-options a {
  text-decoration: none;
}

.system_message {
  text-align: center;
  margin: 1rem 0rem;
  font-size: 1rem;
}

.kickout {
  align-self: center;
  position: absolute;
  right: 3vh;
  font-size: 1.8vh;
}

.cancel-btn {
  border: 1px solid #ff4d4d;
  padding: 10px;
  border-radius: 5px;
}

.save-btn {
  border: 1px solid #28a745;
  padding: 10px;
  border-radius: 5px;
}

.save-cancel-btn {
  justify-content: space-between;
  margin-top: 2rem;
}

.save-group-info {
  font-size: 2rem;
  color: #28a745;
}
.w-48{
  width: 48%;
}

.customDownload{
  color: whitesmoke;
}

