body,
html {
  height: 100%;
  margin: 0;
}
*{
    color: white;
}
.bg {
  /* The image used */
  background-image: url("/static/images/auth/img1.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login-container{
    display: flex;
    height: 100vh;
}
.fromdiv{
    justify-content: center;
    margin: auto;
    width: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1.5rem;
    border-radius: 10px;
}
.loginsignup-a{
  text-decoration: none;
  color: cyan;
}
.error-red{
  color: red;
}