<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            title
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block styleContainer%}

    {% endblock %}
</head>

<body>
    <div class="bg">
        <div class="login-container">
    {% block content %}
    <!-- default content text (typically empty) -->
    {% endblock %}
        </div>
        </div>
</body>

</html>