{% extends 'base.html' %}
{% load tz %}
{% load localtime_filter %}
{% load filename %}
{% load static %}
{% block title %}
Chat
{% endblock title%}

{% block styleContainer %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
{% endblock styleContainer%}

{% block content %}
<div class="main-container">
  <div class="settings-tray">
    <div class="friend-drawer no-gutters friend-drawer--grey">
      <span class="settings-tray--left">
        <a href="{% url 'chat:home' %}"><i class="fa-solid fa-arrow-left"></i></a>
      </span>
      <img class="profile-image" src="{% get_media_prefix %}{{roomobj.image}}" alt="">
      <div class="text">
        <h3 class="room-title" id="room-title">{{roomobj.name}}</h3>
        <p class="text-white" id="typing-user"></p>
      </div>
      <span class="settings-tray--right">
        <a><i class="fa-solid fa-info" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"></i></a>
      </span>
    </div>
  </div>
  <main class="msger-chat" id="messageShow">
    {% for message in chat.all %}
    {% if message.user.id == request.user.id %}
    <div class="msg right-msg" id="messageDiv-{{message.id}}">
      <div class="msg-img" style="background-image: url()"></div>
      <div class="msg-bubble" id="messageBubble-{{message.id}}">
        <div class="msg-info">
          <div class="msg-info-name">{{message.user.username}}</div>
          <div class="msg-info-time">{{message.created_at | date:"d M Y h:m" }}</div>
        </div>
        {# It is {% now "d M Y h:m" %} #}
        {% if message.file %}
        <div class="msg-file" id="messageFile-${data.id}">
          <div class="file_name">{{message.file|filename}}</div>
          <div class="file_link"><a href="{% get_media_prefix %}{{message.file}}" target="_blank"><i class="fa-solid fa-download customDownload"></i></a></div>
        </div>
        {% else %}
        <div class="msg-text" id="messageText-{{message.id}}">
          {{message.message | linebreaksbr}}
        </div>
        {% endif %}
        {% if message.isEdited %}
        <div class="text-right" id="messageEdit-{{message.id}}">Edited</div>
        {% endif %}
      </div>
      {% if message.message %}
      <span role="button" id="{{message.id}}-edit" class="float" onclick="editMessage('{{message.id}}')">
        <i class="fa-solid fa-pen-to-square"></i>
      </span>
      {% endif %}
      <span role="button" id="{{message.id}}-delete" class="float" onclick="deleteMessage('{{message.id}}')">
        <i class="fa-solid fa-trash"></i>
      </span>
    </div>
    {% elif message.user.username == "system" and message.user.is_superuser %}
    <div class="system_message">{{message.message}}</div>
    {% else %}
    <div class="msg left-msg" id="messageDiv-{{message.id}}">
      <div class="msg-img" style="background-image: url()"></div>
      <div class="msg-bubble" id="messageBubble-{{message.id}}">
        <div class="msg-info">
          <div class="msg-info-name">{{message.user.username}}</div>
          <div class="msg-info-time">{{message.created_at | date:"d M Y h:m"}}</div>
        </div>
        {% if message.file %}
        <div class="msg-file" id="messageFile-${data.id}">
          <div class="file_name">{{message.file|filename}}</div>
          <div class="file_link"><a href="{% get_media_prefix %}{{message.file}}" target="_blank"><i
                class="fa-solid fa-download customDownload"></i></a></div>
        </div>
        {% else %}
        <div class="msg-text" id="messageText-{{message.id}}">
          {{message.message | linebreaksbr}}
        </div>
        {% endif %}
        {% if message.isEdited %}
        <div class="text-right" id="messageEdit-{{message.id}}">Edited</div>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <div id="snackbar">Some text some message..</div>
  </main>
  <div class="sendBox">
    <!-- <div class="typing" id="typing-user"></div> -->
    <div class="webflow-style-input">
      <textarea name="messageBox" id="messageBox" rows="" placeholder="send message" class="style-3"
        onkeydown="userIsTyping(event)"></textarea>
      <div class="demofileupload"><input id="inputFile" type="file" onchange="sendFileInChunks();" /></div>
      <button type="button" onclick="sendMessage()">➜</button>
    </div>
  </div>
</div>
<div class="right-slider">
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h2 id="offcanvasRightLabel">Group Info</h2>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="offcanvas-image-container" id="group-image">
        <img src="{% get_media_prefix %}{{roomobj.image}}" alt="Cinque Terre" width="1000" height="300">
        <div class="bottomleft" id="groupName">{{roomobj.name}}</div>
      </div>
      <hr>
      <div class="Group-info">
        <div class="about">About: </div>
        <div id="groupDescription">{{roomobj.description}}</div>
      </div>
      <div class="mt-5">
        <h4>People:</h4>
        <div class="Group-people" id="Group-people">
          <div class="people-status">
            <img class="profile-image" src="{% get_media_prefix %}{{roomobj.image}}">
            <div class="text">
              <h3 class="room-title" id="{{request.user.username}}-profile">{{request.user.username}} (You) {% if roomobj.created_by == request.user %} - owner {% endif %}</h3>
              <p class="text-muted" id="{{request.user.username}}-status">Online</p>
            </div>
          </div>
          {% for user in userStatus.all %}
          <div class="people-status" id="{{user.user.username}}-fullprofile">
            <img class="profile-image" src="{% get_media_prefix %}{{roomobj.image}}">
            <div class="text">
              <h3 class="room-title" id="{{user.user.username}}-profile">{{user.user.username}}{% if roomobj.created_by == user.user %} - owner {% endif %}</h3>
              <p class="text-muted" id="{{user.user.username}}-status"> {% if user.status %} Online {% else %}
                {{user.last_seen}} {% endif %} - ({% if room_name == user.room.slug%} {{user.room.name}} {% else %} In other room {% endif %})</p>
            </div>
            {% if roomobj.created_by == request.user %}
            <div class="kickout" role="button" onclick="kickUser('{{user.user.id}}')">
              <i class="fa-solid fa-user-minus"></i>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="Group-options mt-5">
        {% if roomobj.created_by == request.user %}
        <input type="file" id="group-image-upload" style="display:none" onchange="imageUploadHelper()"/>
        <div id="edit-btn">
          <div class="d-flex border-blue mb-3" role="button" onclick="editGroup()">
            <div class="edit-group"><i class="fa-regular fa-pen-to-square fa-fade"></i> Edit Group</div>
          </div>
        </div>
        {% endif %}
        <a href="{% url 'chat:leaveGroup' %}">
          <div class="d-flex border-red" role="button">
            <div class="leave-group"><i class="fa-solid fa-person-walking-arrow-right fa-bounce"></i> Leave Group</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<script>
  messageShow.scrollTop = messageShow.scrollHeight;
  const currentUser = "{{request.user.username}}";
  let isMessageEdit = { status: false, id: null };
  let currentUserTyping = [];
  const socket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/chat/{{room_name}}/'
  );

  socket.onopen = function (e) {
    console.log("connected")
  }

  socket.onmessage = function (e) {
    const time = new Date();
    let chatBox = document.getElementById("messageShow");
    const data = JSON.parse(e.data);

    if (data.type === "chat_message") {
      if (currentUser === data.username) {
        let chatMessage = `<div class="msg right-msg" id="messageDiv-${data.message.id}">
                    <div
                     class="msg-img"
                     style="background-image: url()"
                    ></div>
                    <div class="msg-bubble" id="messageBubble-${data.message.id}">
                      <div class="msg-info">
                        <div class="msg-info-name">${data.username}</div>
                        <div class="msg-info-time">${time.getHours()}:${time.getMinutes()}</div>
                      </div>
              
                      <div class="msg-text" id="messageText-${data.message.id}">
                        ${data.message.text}
                      </div>
                    </div>
                    <span role="button" id="${data.message.id}-edit" class="float" onclick="editMessage(${data.message.id})">
                      <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                    <span role="button" id="${data.message.id}-delete" class="float" onclick="deleteMessage(${data.message.id})">
                      <i class="fa-solid fa-trash"></i>
                    </span>
                  </div>`
        chatBox.innerHTML += chatMessage;
      }
      else {
        let chatMessage = `
        <div class="msg left-msg" id="messageDiv-${data.message.id}">
          <div
           class="msg-img"
           style="background-image: url()"
          ></div>
          <div class="msg-bubble" id="messageBubble-${data.message.id}">
            <div class="msg-info">
              <div class="msg-info-name">${data.username}</div>
              <div class="msg-info-time">${time.getHours()}:${time.getMinutes()}</div>
            </div>
    
            <div class="msg-text" id="messageText-${data.message.id}">
              <pre>${data.message.text}</pre>
            </div>
          </div>
        </div>`
        chatBox.innerHTML += chatMessage;
        const notification = new Notification(`${data.username}-${data.message.text}`);
      }
      let messageShow = document.getElementById("messageShow");
      messageShow.scrollTop = messageShow.scrollHeight;
    } else if (data.type == "typing") {
      let typingBox = document.getElementById("typing-user");
      let userIndex = currentUserTyping.indexOf(data.username);
      if (userIndex === -1) {
        currentUserTyping.push(data.username)
      }
      let typingString = "";
      currentUserTyping.forEach((user, index) => {
        typingString += data.username
        typingString += currentUserTyping.length > 1 && index !== currentUserTyping.length - 1 ? ", " : ""
        if (index >= 2) {
          typingString += ` and more ${currentUserTyping.length - 2}`
        }
      })
      typingBox.innerHTML = `${typingString} ${currentUserTyping.length > 1 ? "are" : "is"} typing...`;
      setTimeout(clearTyping, 200, data);
    }
    else if (data.type == "edit_message") {
      let messageText = document.getElementById(`messageText-${data.message.id}`);
      let messageBubble = document.getElementById(`messageBubble-${data.message.id}`);
      let messageEdit = document.getElementById(`messageEdit-${data.message.id}`)
      messageText.innerHTML = `<pre>${data.message.text}</pre>`;
      if (!messageEdit) {
        messageBubble.innerHTML += `<div class="text-right" id="messageEdit-${data.message.id}">Edited</div>`;
      }
    }
    else if (data.type == "delete_message") {
      let messageDiv = document.getElementById(`messageDiv-${data.id}`);
      messageDiv.remove();
    }
    else if (data.type == "chat_file_pending") {
      snackbar(`${data.username} started uploading file!`);
    }
    else if (data.type == "chat_file_completed") {
      if (currentUser === data.username) {
        let chatMessage = `<div class="msg right-msg" id="messageDiv-${data.id}">
                    <div
                     class="msg-img"
                     style="background-image: url()"
                    ></div>
                    <div class="msg-bubble" id="messageBubble-${data.id}">
                      <div class="msg-info">
                        <div class="msg-info-name">${data.username}</div>
                        <div class="msg-info-time">${time.getHours()}:${time.getMinutes()}</div>
                      </div>
              
                      <div class="msg-file" id="messageFile-${data.id}">
                        <div class="file_name">${data.file_name}</div>
                        <div class="file_link"><a href = "{% get_media_prefix %}${data.url}" target="_blank"><i class="fa-solid fa-download customDownload"></i></a></div>
                      </div>
                    </div>
                    <span role="button" id="${data.id}-delete" class="float" onclick="deleteMessage(${data.id})">
                      <i class="fa-solid fa-trash"></i>
                    </span>
                  </div>`
        chatBox.innerHTML += chatMessage;
      }
      else {
        let chatMessage = `
        <div class="msg left-msg" id="messageDiv-${data.id}">
          <div
           class="msg-img"
           style="background-image: url()"
          ></div>
          <div class="msg-bubble" id="messageBubble-${data.id}">
            <div class="msg-info">
              <div class="msg-info-name">${data.username}</div>
              <div class="msg-info-time">${time.getHours()}:${time.getMinutes()}</div>
            </div>
    
            <div class="msg-file" id="messageFile-${data.id}">
              <div class="file_name">${data.file_name}</div>
              <div class="file_link"><a href = "{% get_media_prefix %}${data.url}" target="_blank"><i class="fa-solid fa-download customDownload"></i></a></div>
            </div>
          </div>
        </div>`
        chatBox.innerHTML += chatMessage;
      }
      snackbar(`${data.username} uploaded successfully!`);
      let messageShow = document.getElementById("messageShow");
      messageShow.scrollTop = messageShow.scrollHeight;
    }
    else if (data.type == "system_message") {
      let chatMessage = `<div class="system_message"> ${data.message.text}</div>`
      chatBox.innerHTML += chatMessage;
      let userDetalis = document.getElementById(`${data.username}-fullprofile`);
      let People = document.getElementById("Group-people");

      if(data.message.type){
          if (data.message.type == "join_group") {
          let newUserProfile = `
          <div class="people-status" id="${data.username}-fullprofile">
              <img class="profile-image" src="{% get_media_prefix %}{{roomobj.image}}">
              <div class="text">
                <h3 class="room-title" id="${data.username}-profile">${data.username}</h3>
                <p class="text-muted" id="${data.username}-status"> Joined </p>
              </div>
              {% if roomobj.created_by == request.user %}
                <div class="kickout" role="button" onclick="kickUser(${data.userid})">
                  <i class="fa-solid fa-user-minus"></i>
                </div>
              {% endif %}
            </div>
          `;
          People.innerHTML += newUserProfile;
        }
        else if (data.message.type == "edit_group"){
          let groupDescription = document.getElementById("groupDescription");
          let groupName = document.getElementById("groupName");
          let roomTitle = document.getElementById("room-title");

          groupName.innerHTML = data.groupName;
          groupDescription.innerHTML = data.groupDescription;
          roomTitle.innerHTML = data.groupName;
        }
        else if (data.message.type == "leave_group" || data.message.type == "kick_user") {
          if (currentUser == data.username) {
            window.location.href = `/chat/`;
          }
          userDetalis.remove();
        }
      }
      let messageShow = document.getElementById("messageShow");
      messageShow.scrollTop = messageShow.scrollHeight;
    }
    else if (data.type == "status_change") {
      let userDetalis = document.getElementById(`${data.username}-status`);
      if (userDetalis) {
        if (data.message.status || data.username == currentUser) {
          userDetalis.innerHTML = "Online";
        }
        else {
          const date = new Date(data.message.last_seen);
          const yyyy = date.getFullYear();
          let mm = date.getMonth() + 1;
          let dd = date.getDate();
          let hh = date.getHours();
          let minute = date.getMinutes();

          if (dd < 10) dd = '0' + dd;
          if (mm < 10) mm = '0' + mm;
          if (minute < 10) minute = '0' + minute;

          userDetalis.innerHTML = `${dd}-${mm}-${yyyy}-${hh}:${minute} - ({{roomobj.name}})`;
        }
      }
    }
  }

  function sendMessage() {
    let messageBox = document.getElementById("messageBox");
    let messageData = messageBox.value;
    messageBox.value = '';
    console.log(isMessageEdit.status)
    if (isMessageEdit.status)
      socket.send(JSON.stringify({ type: "edit_message", message: messageData, id: isMessageEdit.id, username: "{{request.user.username}}" }));
    else
      socket.send(JSON.stringify({ type: "chat_message", message: messageData, username: "{{request.user.username}}" }));
    isMessageEdit.status = false;
  }

  function userIsTyping(e) {
    if (e.code == "Enter" && !e.shiftKey) {
      e.preventDefault();
      sendMessage();
    }
    socket.send(JSON.stringify({ type: "typing", username: "{{request.user.username}}" }));
  }

  function clearTyping(data) {
    let typingBox = document.getElementById("typing-user");
    typingBox.innerHTML = "";
    let userIndex = currentUserTyping.indexOf(data.username)
    currentUserTyping.splice(userIndex, 1)
  }
  // async function convertToBase64() {
  //   var selectedFile = document.getElementById("inputFile").files;
  //   if (selectedFile.length > 0) {
  //     socket.send(JSON.stringify({ type: "chat_file_pending", username: "{{request.user.username}}" }))
  //     const formData = new FormData();
  //     formData.append("userFile", selectedFile[0]);
  //     formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
  //     let sendData = await fetch("{% url 'chat:fileUp' %}", {
  //       method: "POST",
  //       body: formData,
  //     })
  //   }
  // }
  async function sendFileInChunks() {
  var selectedFile = document.getElementById("inputFile").files;
  file = selectedFile[0];
  console.log(file.name);
  socket.send(JSON.stringify({ type: "chat_file_pending", username: "{{request.user.username}}" }))
  // const chunkSize = 8192; // 8 KB
  const chunkSize = 1048576; // 1 MB
  const fileSize = file.size;
  const totalChunks = Math.ceil(fileSize / chunkSize);
  let chunkIndex = 0;

  const fileId = self.crypto.randomUUID();

  while (chunkIndex < totalChunks) {
    const start = chunkIndex * chunkSize;
    const end = Math.min(start + chunkSize, fileSize);
    const chunk = file.slice(start, end);

    const formData = new FormData();
    formData.append('chunk', chunk);
    formData.append('totalChunks', totalChunks);
    formData.append('chunkIndex', chunkIndex);
    formData.append('fileId', fileId);
    formData.append('filename', file.name);
    formData.append("csrfmiddlewaretoken", "{{csrf_token}}");

    console.log(chunk, totalChunks, chunkIndex, fileId);
    const response = await fetch("{% url 'chat:file_upload_chunks' %}", {
      method: 'POST',
      body: formData,
    });

    chunkIndex++;
  }
}
  function editMessage(id) {
    let messageBox = document.getElementById("messageBox");
    messageBox.value = document.getElementById(`messageText-${id}`).innerText;
    isMessageEdit.id = id
    isMessageEdit.status = true;
  }

  function deleteMessage(id) {
    let sure = confirm("Are you Sure ?");
    if (sure)
      socket.send(JSON.stringify({ type: "delete_message", id: id, username: "{{request.user.username}}" }));
  }

  function snackbar(text) {
    var x = document.getElementById("snackbar");
    x.className = "show";
    x.innerHTML = text;
    setTimeout(function () { x.className = x.className.replace("show", ""); }, 2000);
  }

  async function kickUser(id) {
    console.log(id);
    let data = await fetch(`/chat/kickuser/${id}`)
  }

  function editGroup() {
    let groupName = document.getElementById("groupName");
    let groupDescription = document.getElementById("groupDescription");
    let groupImage = document.getElementById("group-image");

    let oldName = groupName.innerText;
    let oldDescription = groupDescription.innerText;

    groupName.innerHTML = `<input type="text" name="groupName" value="${oldName}"/>`;
    groupDescription.innerHTML = `<textarea type="text" name="groupDescription">${oldDescription}</textarea>`;
    groupImage.innerHTML += `<div class="topright" id="groupimage-edit" onclick="imageUpload()"><i class="fa-solid fa-pencil"></i></div>`;
    let editBtn = document.getElementById("edit-btn");

    editBtn.role = 'div';

    let newBtns = `
        <div class="d-flex save-cancel-btn mb-3">
          <div class="save-btn w-48" role="button" onclick="saveBtn()">
            <div class="save-group-info text-center"><i class="fa-regular fa-floppy-disk"></i> Save</div>
          </div>
          <div class="cancel-btn w-48" role="button" onclick="cancelBtn('${oldName}','${oldDescription}')">
            <div class="leave-group text-center" ><i class="fa-solid fa-ban"></i></i> Cancel</div>
          </div>
        </div>
    `;
    editBtn.innerHTML = newBtns;
  }

  function cancelBtn(name, description) {
    let editBtn = document.getElementById("edit-btn");
    let groupName = document.getElementById("groupName");
    let groupDescription = document.getElementById("groupDescription");
    let groupImageEdit = document.getElementById("groupimage-edit");
    groupImageEdit.remove();
    let editBtnHtml = `
        <div id="edit-btn">
          <div class="d-flex border-blue mb-3" role="button" onclick="editGroup()">
            <div class="edit-group"><i class="fa-regular fa-pen-to-square fa-fade"></i> Edit Group</div>
          </div>
        </div>
    `;
    editBtn.role = 'button';
    editBtn.innerHTML = editBtnHtml;
    groupName.innerHTML = name;
    groupDescription.innerHTML = description;
  }

  function saveBtn() {
    let groupName = document.getElementsByName("groupName");
    let groupDescription = document.getElementsByName("groupDescription");
    socket.send(JSON.stringify({ type: "edit_group", message: {name: groupName[0].value, description: groupDescription[0].value}, room: "{{room_name}}", username: "{{request.user.username}}" }));
    cancelBtn(groupName[0].value,groupDescription[0].value);
  }

  function imageUpload() {
    let imageUp = document.getElementById("group-image-upload");
    imageUp.click();
  }

  function imageUploadHelper() {
    let imageUp = document.getElementById("group-image-upload");
    var selectedFile = imageUp.files;
    if (selectedFile.length > 0) {
      var fileToLoad = selectedFile[0];
      var fileReader = new FileReader();
      var base64;
      fileReader.onload = function (fileLoadedEvent) {
        base64 = fileLoadedEvent.target.result;
        console.log(base64);
      };
      fileReader.readAsDataURL(fileToLoad);
    }
  }
</script>
{% endblock content %}