{% include 'navbar.html' %}
{% load static %}
{% block styleContainer %}
{% endblock styleContainer %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% block content %}
<div class="p-2 ">

  {% if messages %}
  {% for message in messages %}
  <div {% if message.tags %} class="alert {{ message.tags }}" {% else %} class="alert alert-primary" {% endif %}
    role="alert">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}

  <span role="button" id="createGroup" class="float" data-bs-toggle="modal" data-bs-target="#exampleModal"
    onclick="openModal(this.id)">
    <i class="fa fa-plus my-float"></i>
  </span>
  <span role="button" id="inviteLink" class="float2" data-bs-toggle="modal" data-bs-target="#exampleModal"
    onclick="openModal(this.id)">
    <i class="fa fa-link my-float"></i>
  </span>
  <div id="cards_landscape_wrap-2">
    <div class="p-2">
        <div class="row">
          {% for room in rooms.all %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <a href="{% url 'chat:chat_room' room_name=room.room.slug%}">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="{% get_media_prefix %}{{room.room.image}}" alt="" />
                            </div>
                            <div class="text-container">
                                <h6 class="text-center">{{room.room.name}}</h6>
                                <p >{{room.room.description}}</p>
                            </div>
                            <span class="list-group-item">InviteCode - {{room.room.invite}}</span>                      
                            <div class="card-footer">                           
                              <small class="text-muted">Created By {% if room.room.created_by %} {{room.room.created_by}} {% else %} Unknown {% endif %}</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% comment "" %}<button onclick="notifyMe()">Notify me!</button>{% endcomment %}
        </div>
    </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modal-title">Have an Invitation ?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div>
          <div class="modal-body" id="modal-body">
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="invitaionid" class="form-label">{{form.invitation.label}}</label>
                <input type="text" class="form-control" id="invitaionid" name="{{form.invitation.name}}">
              </div>
          </div>
          <div class="modal-footer" id="modal-footer">

          </div>
          
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    function openModal(id = "") {
      let modalBody = document.getElementById("modal-body");
      let modalTitle = document.getElementById("modal-title");
      let modalFooter = document.getElementById("modal-footer");
      if (id.toLowerCase() === "creategroup") {
        modalTitle.innerHTML = "New Group";
        modalBody.innerHTML = `
      <form method="post" action="{% url 'chat:Group' %}" id ="${id}form" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="mb-3">
          <label for="groupname" class="form-label">Group Name</label>
          <input type="text" class="form-control" id="groupname" name="name">
        </div>
        <div class="mb-3">
          <label for="groupdescription" class="form-label">Group Description</label>
          <textarea class="form-control" id="groupdescription" name="description"></textarea>
        </div>
        <div class="mb-3">
          <label for="groupimage" class="form-label">Group Image</label>
          <input type="file" class="form-control" id="groupimage" name="groupimage">
        </div>
      `;
        modalFooter.innerHTML = `
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary" onclick="formSubmmiter('${id}')">Create</button>
      `;
      }
      else {
        modalTitle.innerHTML = "Have an Invitation ?";
        modalBody.innerHTML = `
      <form method="post" id ="${id}form">
        {% csrf_token %}
        <div class="mb-3">
          <label for="invitaionid" class="form-label">{{form.invitation.label}}</label>
          <input type="text" class="form-control" id="invitaionid" name="{{form.invitation.name}}">
        </div>
      `;
        modalFooter.innerHTML = `
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary" onclick="formSubmmiter('${id}')">Join</button>
      `;
      }
    }

    function formSubmmiter(id) {
      let form = document.getElementById(`${id}form`).submit();
    }
    function notifyMe() {
      if (!("Notification" in window)) {
        // Check if the browser supports notifications
        alert("This browser does not support desktop notification");
      } else if (Notification.permission === "granted") {
        // Check whether notification permissions have already been granted;
        // if so, create a notification
        const notification = new Notification("Hi there!");
        // …
      } else if (Notification.permission !== "denied") {
        // We need to ask the user for permission
        Notification.requestPermission().then((permission) => {
          // If the user accepts, let's create a notification
          if (permission === "granted") {
            const notification = new Notification("Hi there!");
            // …
          }
        });
      }
    
      // At last, if the user has denied notifications, and you
      // want to be respectful there is no need to bother them anymore.
    }
  </script>
  {% endblock content %}