{% extends 'base.html' %}

{% block title %}
Signup
{% endblock title %}
{% load static %}
{% block styleContainer %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<form method="post" class="fromdiv">
    {% csrf_token %}
        <h1>Signup</h1>
        <div class="form-group mt-2">
            <label for="{{form.username.name}}">{{form.username.label}}</label>
            <input type="text" class="form-control" name="{{form.username.name}}" id="{{form.username.name}}" title="{{ form.username.help_text}}" placeholder="Demo123">
            {% if form.username.errors %}
                <small>{{form.username.errors}}</small>
            {% endif %}
        </div>
        <div class="form-group mt-2">
            <label for="{{form.password1.name}}">{{form.password1.label}}</label>
            <input type="password" class="form-control" name="{{form.password1.name}}" id="{{form.password1.name}}" title="{{form.password1.help_text}}" placeholder="1234">
        </div>
        {% if form.password1.errors %}
            <small>{{form.password1.errors}}</small>
        {% endif %}
        <div class="form-group mt-2">
            <label for="{{form.password2.name}}">{{form.password2.label}}</label>
            <input type="password" class="form-control" name="{{form.password2.name}}" id="{{form.password2.name}}" placeholder="1234">
        </div>
        {% if form.password2.errors %}
            <small>{{form.password2.errors}}</small>
        {% endif %}
        <input type="submit" class="btn btn-primary mt-2" value="Signup">
        <p>Already have an Account? <a href="{% url 'chat:login' %}" class="loginsignup-a">Login</a></p>
</form>

{% endblock content %}