{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}
{% load static %}
{% block styleContainer %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<form method="post" class="fromdiv">
    {% csrf_token %}
    {{form.nonfield.errors}}
        <h1>Login</h1>
        <div class="form-group mt-2">
            <label for="{{form.username.name}}">{{form.username.label}}</label>
            <input type="text" class="form-control" name="{{form.username.name}}" id="{{form.username.name}}" placeholder="demo">
        </div>
        {% if form.username.errors %}
            <small>{{form.username.errors}}</small>
        {% endif %}
        <div class="form-group mt-2">
            <label for="{{form.password.name}}">{{form.password.label}}</label>
            <input type="password" class="form-control" name="{{form.password.name}}" id="{{form.password.name}}" placeholder="123">
        </div>
        {% if form.password.errors %}
            <small>{{form.password.errors}}</small>
        {% endif %}
        {% if form.non_field_errors %}
            <div>
                {% for err in form.non_field_errors %}
                <p>{{ err }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <input type="submit" class="btn btn-primary mt-2" value="Login">
        <p>Don't have an Account? <a href="{% url 'chat:signup' %}" class="loginsignup-a">Sign up</a></p>
</form>

{% endblock content %}